/* CUSTOM VARIABLES */
/* GLOBAL */
/* LOGIN */
/* DIAGRAM */
/* HOME PAGE */
/* MENU LEFT */
/* MAIN MENU */
/* SUB MENU */
/* PAGE TAB */
/* DROPDOWN NOTIFICATIONS */
/* SOCIAL */
/* LIST BOX */
/* PROPERTIES GROUP */
/* BUTTONS */
/* PAGE ACTIONS */
/* ACCORDIONS */
/* DISCUSSIONS */
/* WORLD MAP */
/* USER ZONE */
/* POPUP */
/* BADGES */
/* TASKS & NOTIFICATIONS */
/* GLOBAL SEARCH */
/* TOP BAR */
/* DIAGRAM TILE */
/* MATRIX ADVANCED */
/* DIAGRAM OVERLAY */
.cwLayoutCompareButtons {
  z-index: 100;
  margin-top: -42px;
  position: absolute;
}
.cwLayoutCompareButtons .btn.page-action.selected {
  background-color: #03b4e7;
}
.cwLayoutCompare table.cw-grid {
  min-width: 99%;
}
.cwLayoutCompare table.cw-grid thead.compareTable-header th,
.cwLayoutCompare table.cw-grid thead.compareTable-header span,
.cwLayoutCompare table.cw-grid thead.compareTable-header a {
  background-color: #ffffff;
  color: #03a0ce;
  font-size: large;
}
.cwLayoutCompare table.cw-grid thead.compareTable-header th {
  min-width: 300px;
}
.cwLayoutCompare table.cw-grid tbody tr th {
  background-color: #ffffff;
  color: #03a0ce;
  border: solid 1px;
  border-top: 0px;
}
.cwLayoutCompare table.cw-grid tbody tr th.propertyGroup {
  background-color: #03a0ce;
  color: #ffffff;
  border: solid 1px;
  border-color: #03a0ce;
  border-top: 0px;
}
.cwLayoutCompare table.cw-grid tbody tr td.different {
  background-color: #ecadadd1;
}
